* {
    background: lightblue;
    font-size: 24px;
}

ol, ul {
    
    border: 2px groove pink;
    background-color: #ff817e;
    
}

.home {
    padding: 0px;

}   

li {
    background-color: #ff817e;
    padding: 4px;
}

a {
    background-color: blue;
    color: yellow;
    font-size: 24px;
    text-align: center;
    display: block;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 38px;
    padding: 30px;
    background-color: lightgreen;
    border: 15px inset; 
}

img {
    height: 500px;
    align-items: center;
    display: block;
    margin: 0 auto;
    padding: 30px;
}